/* Main CSS */
.background {
	background-image: url('https://s3.amazonaws.com/ooomf-com-files/hRLNb0DCTByeuI4tuYOq_IMG_5146.jpg');
	background-size: 100%;
	background-position: top;
	/*height: 210px;*/
	color: white;
	background-color: #add2e4;
	padding: 2em;
}

@media(max-width: 960px) {
	.background {
		background-size: 960px;
	}
}

.padding {
	padding-top: 40px;
}

.compressed {
	margin: 0;
	color: #999;
	font-size: 12px;
}

.no-margin {
	margin: 0;
}

.footer {
	background-color: #0c0919;
	border-top: solid 5px #16b5ed;
	height: 150px;
	color: white;
}

/* Documentation CSSS */

/* Push Down Footer Information */
html,
body {
	height: 100%;
}

/* Wrapper for page content to push down footer */
.main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -30px;
}