{{ define "title" }}AirDispatch Project{{ end }}

{{ define "body" }}
<div class="background">
	<div class="container">
		<div class="padding"></div>
		<div class="row">
			<div class="col-md-2 col-md-offset-1 hidden-sm hidden-xs">
				<img src="/static/img/logo.png" class="img-responsive" style="max-width: 131px;">
			</div>
			<div class="col-md-9">
				<h2 style="margin-top: 1.4em; font-weight: lighter;">Let's revolutionize communication <strong>together</strong>.</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>About</h3>
			<p>The AirDispatch project was started in an attempt to fix the problems with the email system; however, since then the idea has grown into something much larger. AirDispatch can be a distributed database for users that provides messaging between services.</p>
			<hr/>
			<h3>Philosophy</h3>
			<p>The internet is changing rapidly. We have moved from a time where people developed open and secure methods of sharing data to an era of entrepreneurship and segregation. Data is being kept in <a href="http://twitter.com">large</a> <a href="http://facebook.com">islands</a> without any chance for interoperability. We are aiming to fix that.</p>
			<p>AirDispatch is a series of projects that hope to free the web from the cluthes of centralized services. It is a return to the basics, and it will <strong>change everything</strong>.</p>
		</div>
		<div class="col-md-4">
			<h3>Our Projects</h3>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="pull-right">
						<a href="http://github.com/airdispatch/airdispatch-protocol" class="btn btn-default">&rarr;</a>
					</div>
					<a href="/project/airdispatch">The AD Protocol</a><br/>
					<p class="compressed">A replacement to Email</p>
				</li>
				<li class="list-group-item">
					<div class="pull-right">
						<a href="http://github.com/airdispatch/dispatcher" class="btn btn-default">&rarr;</a>
					</div>
					<a href="http://github.com/airdispatch/dispatcher">Dispatcher</a><br/>
					<p class="compressed">The first AD Client</p>
				</li>
				<li class="list-group-item">
					<div class="pull-right">
						<a href="http://github.com/airdispatch/go-pressure" class="btn btn-default">&rarr;</a>
					</div>
					<a href="http://github.com/airdispatch/go-pressure">Go-Pressure</a><br/>
					<p class="compressed">An MVC Web Framework designed for Golang</p>
				</li>
			</ul>
			<p>AirDispatch Example Applications</p>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="pull-right">
						<a href="http://github.com/airdispatch/airdispatch-protocol" class="btn btn-default">&rarr;</a>
					</div>
					<a href="http://github.com/airdispatch/airdispatch-protocol">AD Blog</a><br/>
					<p class="compressed">Format your Public AirDispatch Messages like a Blog - Quick and Easy</p>
				</li>
			</ul>
			<p>AirDispatch Data Protocols</p>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="pull-right">
						<a href="http://github.com/airdispatch/airdispatch-protocol" class="btn btn-default">&rarr;</a>
					</div>
					<a href="http://github.com/airdispatch/airdispatch-protocol">AD Profiles</a><br/>
					<p class="compressed">Provide some public information about yourself.</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Learn More</h3>

			<p class="compressed">Enter your email below to sign up for our newsletter. You will be the first to know when AirDispatch will be ready for use.</p>
			<br/>
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form role="form" action="http://airdispat.us3.list-manage.com/subscribe/post?u=c6eb388e192d102758e5d56ee&amp;id=9434aed13c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="input-group">
						<input type="email" value="" placeholder="Email Address..." name="EMAIL" class="required email form-control" id="mce-EMAIL">
						<span class="input-group-btn">
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
						</span>
					</div>
				</form>
			</div>
			<!--End mc_embed_signup-->

			<hr/>
			<p class="compressed">Or find us on IRC at Freenode #airdispatch.</p>
		</div>
	</div>
</div>
{{ end }}